/*
  General styles
*/


.side-bar {
  background: #181c3a;
  border-radius: 0 25px 25px 0;
  float: left;

}

.logo {
  padding: 15px;
  margin-top: 20px;
  padding-bottom: 110px;
}

.nav-items {
  font-size: small;
  color: #e4e5e8;

  i {
    margin: 20px;
    cursor: pointer;
  }
}
.spacer {
  margin-top: 15px;
  padding-bottom: 75px;
}
