<div class="row prod-holder">
  <div class="col-8">
    <div class="row">
      <div class="col-3">
        <div class="card bg-rehd prod-card">
          <div class="row">
            <div class="col-12">
              <img src="../../assets/Annotation 2020-09-25 190550.png" alt="Product image" class="w-100 prod-img">
            </div>
            <div class="col-12 subtitle">100% green nice shirt for the lady</div>
            <div class="col-6">price</div>
            <div class="col-6">discount</div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card bg-rehd prod-card">
          <div class="row">
            <div class="col-12">
              <img src="../../assets/Annotation 2020-09-25 190550.png" alt="Product image" class="w-100">
            </div>
            <div class="col-12 subtitle">Subtitle</div>
            <div class="col-6">price</div>
            <div class="col-6">discount</div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card bg-rehd prod-card">
          <div class="row">
            <div class="col-12">
              <img src="../../assets/Annotation 2020-09-25 190550.png" alt="Product image" class="w-100">
            </div>
            <div class="col-12 subtitle">Subtitle</div>
            <div class="col-6">price</div>
            <div class="col-6">discount</div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card bg-rehd prod-card">
          <div class="row">
            <div class="col-12">
              <a href="../../assets/Annotation 2020-09-25 190550.png" class="">
                <img src="../../assets/Annotation 2020-09-25 190550.png" alt="Product image" class="w-100">
              </a>
            </div>
            <div class="col-12 subtitle">Subtitle</div>
            <div class="col-6">price</div>
            <div class="col-6">discount</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Side bar to show products  -->
  <div class="col-4 sidebar">
    <div class="row">
      <div class="col-12">
        <div class="product-img">
          <img src="" alt="Product Images slider" class="">
        </div>
      </div>
      <div class="col-12">
        <div class="for w-100 bg-rehd">
          Product Title
        </div>

      </div>

      <div class="col-12 mt-2 mb-2">
        <span class="for col-5 fl bg-rehd">
          <span class="replies">Fashion</span>
          <span class="comment">Category</span>
        </span>

        <span class="for col-5 fr bg-rehd">
          <span class="replies">Men</span>
          <span class="comment">For</span>
        </span>

      </div>

      <div class="col-12 mb-2">
        <button mat-raised-button class="col-5 bg-rehd">
          Price
        </button>

        <button mat-raised-button class="fr col-5  bg-rehd">
          Discount price
        </button>
      </div>



      <div class="col-12 mb-2">
        <button mat-raised-button class="col-5 bg-rehd">
          weight
        </button>

        <button mat-raised-button class="fr col-5  bg-rehd">
          length
        </button>
      </div>

      <div class="col-12 mb-2">
        <button mat-raised-button class="col-5 bg-rehd">
          mainMaterial
        </button>

        <button mat-raised-button class="fr col-5  bg-rehd">
          stock Level
        </button>
      </div>

      <div class="col-12 mb-2">
        <button mat-raised-button class="col-5 bg-rehd">
          created On
        </button>


        <button mat-raised-button class="fr col-5  bg-rehd">
          For
        </button>
      </div>


      <div fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-raised-button class="bg-rehd">
          size
        </button>

        <button mat-raised-button class="bg-rehd">
          size
        </button>

        <button mat-raised-button class="bg-rehd">
          size
        </button>

        <button mat-raised-button class="bg-rehd">
          size
        </button>
      </div>
      <div class="col-12 mb-2">
        <button mat-raised-button class="bg-rehd">
          size
        </button>

        <button mat-raised-button class="bg-rehd">
          size
        </button>

        <button mat-raised-button class="bg-rehd">
          size
        </button>

        <button mat-raised-button class="bg-rehd">
          size
        </button>
      </div>
      <div class="col-12 mb-2">
        <button mat-raised-button class="bg-rehd">
          color
        </button>

        <button mat-raised-button class="bg-rehd">
          color
        </button>
        <button mat-raised-button class="bg-rehd">
          color
        </button>
        <button mat-raised-button class="bg-rehd">
          color
        </button>
        <button mat-raised-button class="bg-rehd">
          color
        </button>
      </div>
      <div class="col-12 mb-2">
        <button mat-raised-button class="bg-rehd">
          tags
        </button>

        <button mat-raised-button class="bg-rehd">
          tags
        </button>

        <button mat-raised-button class="bg-rehd">
          tags
        </button>

        <button mat-raised-button class="bg-rehd">
          tags
        </button>
      </div>
      <div class="col-12 mb-2">
        <button mat-raised-button class="w-100 bg-rehd">
          Discription
        </button>
      </div>
      <div class="col-6">

        <div class="features">
          freatures
          -
          -
        </div>
      </div>
      <div class="col-6">
        <div class="specification">
          specification
          -
          -
        </div>
      </div>
      <div class="col-12">
        <div class="reviews">
          <div class="row">
            <div class="col-12">
              <div class="author">
                author
              </div>
            </div>
            <div class="col-12">
              <div class="reviewTitle">
                review Title
              </div>
            </div>
            <div class="col-12">
              <div class="reviewText">
                review Text
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
