<div class="gird main-container">
  <div class="row">
    <div class="col-9 no-spacing cards-conatiner">
      <div class="row">
        <div class="col searchbar">
          <form class="form-inline md-form form-sm">
            <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search"
              mdbInput>
          </form>
        </div>
        <div class="col calender">
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" disabled [min]="minDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <div class="row">
            <div class="col-7">
              <mat-card class="stats-pay-card">
                <div class="stats-pay">
                  <div class="row TB" title="Total balance">
                    <s>N</s>
                    4000
                  </div>
                  <div class="row TTTNP">
                    Monthly Balance
                  </div>
                  <div class="row progress-bar">
                    <mat-progress-bar mode="determinate" value="20" color="primary"></mat-progress-bar>
                  </div>
                </div>
              </mat-card>
            </div>
            <div class="col-5">
              <mat-card class="stats-pay-card">
                <div class="stats-pay">
                  <!-- Minthly Increase -->
                  <div class="row TB" title="Total balance">
                    <s>N</s>
                    4000
                  </div>
                  <div class="row TTTNP">
                    Monthly Balance
                  </div>
                  <div class="row progress-bar">
                    <mat-progress-bar mode="determinate" value="20" color="accent"></mat-progress-bar>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
          <div class="row">
            <div class="col-7">Stats(income)
              <mat-card class="stats-pay-card">
                <mat-card-header>Sales statictics</mat-card-header>
                <div style="display: block">
                  <canvas mdbChart [chartType]="lineChat" [datasets]="chartDatasets" [labels]="chartLabels"
                    [colors]="chartColors" [options]="chartOptions" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                  </canvas>
                </div>
              </mat-card>
            </div>
            <div class="col-5">
              Stats(income)
              <!-- Most selling products -->
              <mat-card class="stats-pay-card">
                <mat-card-header>
                  Categories
                </mat-card-header>
                <canvas mdbChart width="1" height="1" [chartType]="pieChat" [datasets]="chartDatasets"
                  [labels]="piechartLabels" [colors]="piechartColors" [options]="chartOptions"
                  (chartHover)="piechartHovered($event)" (chartClick)="piechartClicked($event)">
                </canvas>

              </mat-card>
            </div>
          </div>
          <div class="row">
            <div class="col">
              Stats(income)
              <mat-card class="stats-pay-card">
                <div style="display: block">
                  <canvas mdbChart [chartType]="lineChat" [datasets]="chartDatasets" [labels]="chartLabels"
                    [colors]="chartColors" [options]="chartOptions" (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                  </canvas>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <mat-card class="stats-pay-card w-100">
              <mat-card-header>
                Tasks
              </mat-card-header>
              <mat-card-content>
                <div class="row">
                  <div class="col-10">this</div>
                  <div class="col-2">
                    <div class="urgency">
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                  <div class="col-10">this</div>
                  <div class="col-2">
                    <div class="urgency">
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                  <div class="col-10">this</div>
                  <div class="col-2">
                    <div class="urgency">
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                  <div class="col-10">this</div>
                  <div class="col-2">
                    <div class="urgency">
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
              </mat-card-content>
            </mat-card>
          </div>
          Stats(income)
          <div class="row">
            <mat-card class="stats-pay-card w-100">
              <mat-card-header>
                Todo
              </mat-card-header>
              <p>
                <mat-form-field appearance="legacy">
                  <mat-label>Title</mat-label>
                  <input matInput placeholder="Placeholder">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
              </p>

              <p>
                <mat-form-field appearance="legacy">
                  <mat-label>Title</mat-label>
                  <input matInput placeholder="Placeholder">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="outline">
                  <mat-label>Urgency</mat-label>
                  <mat-select color="primary">
                    <mat-option value="option" color="primary">Option</mat-option>
                  </mat-select>
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
              </p>
              <!-- 
                Title
                Description
                Time
                Urgency 
               -->
            </mat-card>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="position-fixed">
        <div class=" acount-container">
          <div class="user-info">
            <div class="row">
              <div class="col-5">
                <img src="" alt="Display photo" srcset="">
              </div>
              <div class="col-7 user-nane">
                <div class="row">
                  Name
                </div>
                <div class="row">
                  Seller Type
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Most Uploaed products  -->
<!-- Todo -->
